#footer {
  height: 21vh;
  background: #313131; }
  #footer .container.d-flex {
    justify-content: center;
    align-items: center; }
  #footer .copyrights {
    background: #313131;
    align-self: flex-end;
    padding-bottom: 1rem; }
  #footer #socials-wrapper {
    flex-basis: 100%;
    padding: 2rem 0;
    justify-content: center; }
    #footer #socials-wrapper ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      max-width: 500px;
      margin: 0 auto; }
      #footer #socials-wrapper ul i {
        font-size: 3rem; }

.fa-facebook,
.fa-twitter,
.fa-github,
.fa-google,
.fa-linkedin,
.fa-instagram {
  transition: color 200ms ease; }
  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-github:hover,
  .fa-google:hover,
  .fa-linkedin:hover,
  .fa-instagram:hover {
    color: #fff; }
