#fortnite-app
  h1, h2, h3, h4, h5, h6
    font-family: Luckiest Guy
    font-family: Bangers
    text-transform: uppercase
    letter-spacing: .15rem
  
#fortnite-app  
  color: #fff
  background: linear-gradient(180deg,#210d34 0,#210d34 50%,#2f1a5a)
  width: 100%
  min-height: calc(100vh - 58.38px)
  > .container
      @media (max-width: 959px)
        width: 100%
  #fortnite-nav
    background: #2e1c59
    width: 100%
    text-transform: uppercase
    position: fixed
    top: 0
    right: 0
    z-index: 10
    border-bottom: 1px solid #515151
    transition: transform 300ms
    ul
      display: flex
      .back
        margin-left: auto
        display: flex
        align-items: center
        a
          padding: 0 !important
          img
            height: 24px
      li:not(.back)
        a
          position: relative
          display: block
          padding: 1.2rem
          font-weight: 600
          letter-spacing: 0.1rem
          color: #ccc
          &.active
            color: #fff
            &::before
              height: 5px 
          &:hover
            color: #fff
            &::before
              height: 5px
          &::before
            background: #ff0
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            z-index: -1;
            transition: height .2s ease-in-out;

.search-bar
  margin-left: auto
  align-items: center
  display: flex
  form
    display: flex
    input
      font-size: 1.2rem
      letter-spacing: 0.05rem
      border-top-left-radius: 5px
      border-bottom-left-radius: 5px
      padding-left: .5rem
      background: #200b58
      color: #fff
      border: 0
      height: 35px
      &:focus
        outline-color: #00ffe7
    button
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
      display: flex
      justify-content: center
      width: 37px
      height: 35px
      background: #646464
      cursor: pointer
      border: 0
      margin-left: 1px
      transition: background .2s ease-in-out;
      &:focus
        outline-color: #00ffe7
      &:hover
        background: #292929
        span
          color: #ff0
      span
        transition: color .2s ease-in-out;
        color: #ccc
        font-size: 27px

.gradient-bg
  background: linear-gradient(180deg, #210d34 0, #210d34 50%, #2f1a5a)

.green-border
  border: 2px solid #00c831

.fortnite-news
  .main-news
    flex: 3
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    .news-card
      margin: 1rem 0
      flex-basis: 30%
      padding: 1rem
      text-align: center
      h3
        height: 50px
        color: #fff200
      p
        max-width: 220px
        margin: 0 auto

@media (max-width: 959px)
  .news-card
    flex-basis: 45% !important

@media (max-width: 699px)
  .news-card
    flex-basis: 100% !important

// Challenges
.challenge-card
  margin-top: 1rem
  padding: 1rem 0
  display: flex
  border-bottom: 1px solid #ffcc00
  align-items: center
  .stars
    position: relative
    img
      height: 100px
    span
      color: #ffc600
      font-size: 3rem
      font-family: Luckiest Guy
      position: absolute
      top: -1rem
      left: .3rem
  .challenge-info
    margin-left: 2rem
    h2
      color: #00ff00
    span
      font-size: 1.17em
    .easy
      color: #4fff00
    .normal
      color: #ff8900
    .hard
      color: #ff0000

.fortnite-store
  text-align: center
  display: flex
  flex-wrap: wrap
  .store-item
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    flex: 1
    flex-basis: 30%
    padding: 1rem
    margin: 1rem
    box-shadow: 3px 3px 12px 1px #000
    @media (max-width: 599px)
      flex-basis: 100%
    h3
      margin-bottom: 1rem
    h4
      margin-bottom: 1rem
    .store-img
      height: 150px
      width: 150px
      img
        height: 100%
        width: 100%
    .fortnite-cost
      position: absolute
      bottom: 0
      left: 0
      right: 0
      display: flex
      align-items: center
      justify-content: center
      height: 50px
      background: #13002d7d
      img
        height: 36px
        border-radius: 50%
      span
        text-shadow: 2px 2px 7px #000000
        margin-left: 1rem
        color: #ffc600
        font-size: 36px
        font-family: Luckiest Guy

.top-10
  .loader
    .lds-ellipsis
      div
        &:nth-child(1)
          background: #fffd00
        &:nth-child(2)
          background: #00ff00
        &:nth-child(3)
          background: #8464c5
        &:nth-child(4)
          background: #fffd00

.fa-playstation
  color: #2E6DB4

.fa-xbox
  color: #7ab800

.fa-desktop
  color: #fffd00

@media (max-width: 959px)
  .top-10
    flex-direction: column
    > div
      margin-bottom: 2rem
      .head
        justify-content: space-between
      .player-row
        justify-content: space-between

@media (max-width: 419px)
  .top-10
    font-size: 16px !important

.top-10
  font-size: 18px
  display: flex
  justify-content: space-around
  > div
    position: relative
    padding: 1rem
    flex-basis: 450px
    height: 550px
    .head
      border-bottom: 1px solid #00fff9
      display: flex
      padding: .5rem
      span
        font-style: italic
        font-weight: 300
        color: #00ffef
        letter-spacing: 1.5px
        &:nth-of-type(1)
          flex-basis: 33px
        &:nth-of-type(2)
          flex-basis: 30px
        &:nth-of-type(3)
          flex-basis: 180px
        &:nth-of-type(4)
          flex-basis: 70px
        &:nth-of-type(5)
          flex-basis: 66px
    .title
      letter-spacing: 4px !important
      padding-left: .5rem
      color: #fffd00
      margin-bottom: 1rem
    .player-row
      cursor: pointer
      padding: .5rem
      display: flex
      border-bottom: 1px solid #00fff9
      align-items: center
      &:hover
        background: #2e1b58
      h3
        flex-basis: 33px
        color: #00ff00
      i
        flex-basis: 30px
      .username
        font-weight: 600
        letter-spacing: 1px
        flex-basis: 180px
        color: #fff
      .kills, .wins
        color: #fffd00
        font-weight: 600
        flex-basis: 70px
      .kd, .matches
        font-weight: 600
        flex-basis: 66px
        color: #ccc

.player-recap
  position: 43
  letter-spacing: 2px !important
  font-weight: 600
  > h1 
    padding-top: 5rem
    text-align: center
  .container
    font-size: 1.5rem
    display: flex
    flex-wrap: wrap
    justify-content: space-around
  .title
    height: 25vh
    flex-basis: 100%
    display: flex
    flex-direction: row-reverse
    justify-content: center
    align-items: center
    h1
      color: #38ff0f
      font-size: 5rem
    i
      font-size: 4rem
      margin-right: 1rem
      
  .totals, .stats
    line-height: 3rem
    padding: 1rem
    flex: 1
    > h2
      font-size: 3rem
      color: #2196f3
      margin-bottom: 2rem
    > div
      display: flex
      h3
        color: #ffeb3b
        flex-basis: 200px
      p
        color: #1ee9e4
  .stats
    flex: 2
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    h2
      flex-basis: 100%
    > div
      margin-bottom: 2rem
      flex-basis: 48%
      display: flex
      flex-direction: column
      padding: 1rem
      border: 1px solid #00e9e3
      > h3
        text-align: center
        color: #2196f3
        flex-basis: auto
      div
        display: flex
        justify-content: space-around

@media (max-width: 999px)
  .player-recap .container
    display: block

@media (max-width: 669px)
  .player-recap .stats
    display: block