.hamburger {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 57.38px; }
  @media (min-width: 769px) {
    .hamburger {
      display: none; } }
  .hamburger span {
    position: absolute;
    height: 2px;
    left: 0;
    width: 100%;
    background: #00ffe7;
    border-radius: 5px; }
    .hamburger span:nth-child(1) {
      top: 16px; }
    .hamburger span:nth-child(2) {
      top: 28px; }
    .hamburger span:nth-child(3) {
      top: 40px; }
