#streamers-side-bar ul::-webkit-scrollbar
  width: .5em
#streamers-side-bar ul::-webkit-scrollbar-thumb
  background: #432751
  border-radius: 20px
  border: 1px solid #34293a

#streamers-side-bar
  position: relative
  border-right: 1px solid #ff008d6b
  flex-basis: 300px
  @media(max-width: 900px)
    flex-basis: 65px
  .load-more-btn
    cursor: pointer
    font-weight: bold
    height: 60px
    width: 100%
    color: #2ca1a9
    font-size: 2rem
    background: #271832
    border: 3px solid #2fdce8
    text-transform: uppercase
    @media(max-width: 900px)
      font-size: .9rem
    &:hover
      color: #2fdce8
  ul
    height: calc(100vh - (57.38px + 60px)
    overflow-y: auto
    overflow-x: hidden
    li
      cursor: pointer
      border-bottom: 1px solid #ff008d6b
      &:nth-child(odd)
        background: #261731
      &:nth-child(even)
        background: #2d1c39
      &:hover
        background: #342043
        .name
          color: #fff !important
        .game
          color: #acacac !important
      .streamer-wrapper
        position: relative
        display: flex
        padding: .5rem 0 .5rem .5rem
        .status
          position: absolute
          top: 9px
          right: 10px
          color: #fff
          font-size: .8rem
          font-weight: 500
          display: flex
          align-items: center
          i
            margin-left: .5rem
            color: #3dff00
            font-size: .5rem
          @media(max-width: 900px)
            display: none
        .info
          padding-left: .5rem
          display: flex
          flex-direction: column
          flex: 1
          @media(max-width: 900px)
            display: none
          .name
            color: #d2d2d2
            font-weight: 500
            letter-spacing: 1px
            margin-bottom: .3rem
          .game
            font-weight: 500
            font-size: .72rem
            color: #777777
            letter-spacing: .6px
        .popup
          position: absolute
          top: 0
          left: 300px
          width: 300px
          height: 100%
