#todos-list {
  position: relative; }
  #todos-list ul {
    min-height: 50px;
    max-height: 60vh;
    overflow-x: hidden;
    overflow-y: auto; }
    @media (max-width: 599px) {
      #todos-list ul {
        max-height: 50vh; } }
  #todos-list li {
    font-size: 1.3rem;
    padding: .8rem;
    margin-bottom: .5rem;
    border-left: 5px solid #8462c4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ececec; }
    #todos-list li:last-of-type {
      margin-bottom: 0; }
    #todos-list li span {
      padding: .2rem .4rem;
      cursor: pointer;
      color: #999;
      box-shadow: 1px 1px 5px #eee;
      background: #616161;
      box-shadow: 0px 1px 1px 1px #c5c5c5;
      transition: 150ms ease-out; }
      #todos-list li span:hover {
        background: #383838;
        color: #fff; }
      #todos-list li span:active {
        box-shadow: none; }
