#header {
  position: relative;
  overflow: hidden; }
  #header h1 {
    font-weight: 300;
    position: absolute;
    font-size: 8rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #header .header-img-wrapper {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 57.38px);
    display: inline-block; }
    #header .header-img-wrapper img {
      min-height: 100vh;
      max-width: 100%;
      image-rendering: pixelated; }
