#scroll-top {
  opacity: 0.5;
  cursor: pointer;
  padding: .55rem;
  position: fixed;
  height: 48px;
  width: 48px;
  bottom: 10px;
  right: 20px;
  background: #553793;
  transition: 150ms ease-out; }
  #scroll-top:hover {
    opacity: 1; }
  #scroll-top img {
    width: 100%; }
