#contact {
  padding: 3rem 0; }

#form-wrapper {
  background: #444444;
  padding: 1.5rem;
  flex: 1.5; }
  #form-wrapper h3 {
    letter-spacing: 1px;
    margin-bottom: 1rem; }
  #form-wrapper form {
    display: flex;
    flex-direction: column; }
    #form-wrapper form label {
      margin-bottom: 1rem; }
      #form-wrapper form label textarea {
        resize: none; }
      #form-wrapper form label input, #form-wrapper form label textarea {
        border: 3px solid #bbb;
        color: #737373;
        border-radius: 5px;
        font-size: 1.2rem;
        width: 100%;
        padding: .5rem; }
    #form-wrapper form button {
      letter-spacing: 0.7px;
      font-size: 1.1rem;
      cursor: pointer;
      text-transform: uppercase;
      color: #fff;
      font-weight: 500;
      background: #444444;
      padding: .6rem 0;
      box-shadow: 0 0 0 2px #fff;
      transition: all 200ms ease-out;
      border: 3px solid transparent; }
      #form-wrapper form button:hover {
        background: #fff;
        border-color: #444444;
        color: #444444; }
