.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 5px rgba(107, 107, 107, 0.66);
  z-index: 500;
  transition: transform 250ms; }
  @media (max-width: 768px) {
    .nav-wrapper .drawer-container {
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      transform: translateX(-100%);
      transition: transform 200ms cubic-bezier(0.13, -0.01, 0.2, 1); } }
  .nav-wrapper .drawer-container.active {
    transform: translateX(0%); }
  .nav-wrapper .drawer-container .close-drawer {
    cursor: pointer;
    flex: 1;
    background: rgba(0, 0, 0, 0.2); }
  .nav-wrapper .drawer-container ul {
    display: flex; }
    @media (max-width: 768px) {
      .nav-wrapper .drawer-container ul {
        background: #fff;
        display: block;
        flex: 2;
        padding-top: 15vh; } }
    .nav-wrapper .drawer-container ul li a {
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      position: relative;
      display: block;
      padding: 1.2rem; }
      .nav-wrapper .drawer-container ul li a::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background: #2fdce8;
        transition: transform 150ms;
        transform: scaleX(0); }
      .nav-wrapper .drawer-container ul li a:hover::before {
        transform: scaleX(1); }
      .nav-wrapper .drawer-container ul li a.active {
        color: #2fdce8 !important; }
        .nav-wrapper .drawer-container ul li a.active::before {
          transform: scaleX(1); }
      @media (max-width: 768px) {
        .nav-wrapper .drawer-container ul li a::before {
          width: 4px;
          height: 80%;
          bottom: 10%; } }
